<link href="app-content/styles/jumbotron-narrow.css" rel="stylesheet" />
<div class="header clearfix">
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="#">Home</a></li>
              <li role="presentation"><a href="#">About</a></li>
              <li role="presentation"><a ng-click="vm.logout();" href="#">Logout</a></li>
            </ul>
          </nav>
          <h3 class="text-muted">Hey {{vm.user.username}}</h3>
</div>
<div class="jumbotron">
  <div ng-if="!vm.trips">
      <span>
        <h2>Looks like you've got no trips coming up.</h2>
        <a class="btn btn-success btn-lg" href="#" role="button">add a new one</a>
      </span>
  </div>
</div>
