<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="$root.flash" ng-bind="$root.flash.message"></div>
      <div class="page {{ pageClass }}">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <img id="campr-logo-login" src="app-content/images/tent.svg" alt="campr">
            </div>
            <div class="row">
              <h1>register with campr</h1>
            </div>
          </div>

          <div class="panel-body">
            <form name="form" id="register-form" ng-submit="vm.register();" role="form">
              <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" ng-model="vm.user.username" required>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                <input type="email" name="email" id="email" tabindex="2" class="form-control" placeholder="Email Address" value="" ng-model="vm.user.email" required>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
                <input type="text" name="firstname" id="firstname" tabindex="3" class="form-control" placeholder="First Name" value="" ng-model="vm.user.firstname" required>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.lastname.$dirty && form.lastname.$error.required }">
                <input type="text" name="lastname" id="lastname" tabindex="4" class="form-control" placeholder="Last Name" value="" ng-model="vm.user.lastname" required>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <input type="password" name="password" id="password" tabindex="5" class="form-control" placeholder="Password" ng-model="vm.user.password" required>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                <input type="password" name="confirm-password" id="confirm-password" tabindex="6" class="form-control" placeholder="Confirm Password">
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="register-submit" id="register-submit" tabindex="7" class="form-control btn btn-register" value="Register" class="btn btn-primary">
                  </div>
                  <div class="col-sm-2 col-sm-offset-3">
                    <a class="form-control btn btn-warning-outline" role="link" tabindex="8" ui-sref="login">Cancel</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
